@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    --cor0: #98a0b8;
    --cor1: #5329a7;
    --cor2: #392267;
    --cor3: #6130c4;
}

body {
    margin: 0 auto;
    background: #F9F9F9;
    font-family: 'Roboto', sans-serif;
}

div#naming {
    padding: 10px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin: 10px auto;
}

nav {
    display: block;
    margin: auto;
    width: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    box-shadow: 0 1px 3px #98a0b8;
}

nav > ul {
    list-style-type: none;
    background-color: #392267;
    overflow: hidden;
}

nav > ul li {
    float: right;
}

nav > ul li a {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

nav > ul li a:hover {
    background-color: #5329a7;
}

#banner {
    margin-top: 10px;
    width: 100%;
    height: 400px;
    background: #e2e2e2 url('../images/rainbow-six-osa.webp') center / cover fixed;
}

main {
    display: block;
    position: relative;
    margin: 15px auto;
    width: 1000px;
    height: 1300px;
}

section {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 690px;
}

article {
    padding: 10px 0;
    margin-bottom: 10px;
    background: white;
    border-bottom: 2px solid #e6e6e6;
    box-shadow: 0 1px 3px #e6e6e6;
}

article > p {
    padding: 0 10px 10px 10px;
    text-align: justify;
    line-height: 1.35em;
}

article > h2 {
    padding: 0 10px 10px 10px;
    font-size: 30px;
}

article > h2 a {
    text-decoration: none;
    color: #392267;
}

article > h2 a:hover {
    color: #6130c4;
}

.video {
    width: 690px;
    background: #dadada;
    padding: 25px 0;
    margin-bottom: 10px;
}

iframe {
    display: block;
    margin: auto;
}

aside {
    display: inline-block;
    width: 300px;
}

.pop {
    padding: 10px 0;
    margin-bottom: 10px;
    background: white;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 3px #e6e6e6;
}

.pop > p {
    padding: 10px 10px 0 10px;
}

.pop a {
    text-decoration: none;
    font-weight: bold;
    color: #392267;
}

.pop a:hover {
    color: #6130c4;
}

.pop > h3 {
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid rgb(236, 236, 236);
    color: rgb(41, 41, 41);
    font-size: 18px;
}

footer {
    display: block;
    margin: 10px auto;
    width: 100%;
    background: #392267;
    padding: 10px;
    width: 1000px;
}

footer > p {
    color: white;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    main {
        max-width: 100%;
        margin: 0 auto;
    }

    section {
        width: 100%;
    }

    nav {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .pop {
        display: none;
    }

    #banner {
        display: none;
    }
}